extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
        include ../static/style.css

block content
    section#introSection 
        div Welcome to Dance Academy
        div.small Eat Sleep Dance Repeat
    
    section#missionSection 
        h2 Our Mission

        div.card 
            h3 Dance perfection
            div.card-box 
                div.card-img 
                    img(src="/static/img/img1.jpg")
                div.card-content 
                    p This is best dance academy.

        div.card 
            h3 Dance the way you like.
            div.card-box 
                div.card-img 
                    img(src="/static/img/img2.jpg")
                div.card-content 
                    p This is best dance academy.

        div.card 
            h3 Expert Teaching
            div.card-box 
                div.card-img 
                    img(src="/static/img/img3.jpg")
                div.card-content 
                    p This is best dance academy.
    
    section#sponsorSection 
        h2 Our sponsors
        div#sponsors 
            img(src="/static/img/logo1.jpg",alt="sponsor img",class="spImage")
            img(src="/static/img/logo2.jpg",alt="sponsor img",class="spImage")
            img(src="/static/img/logo3.jpg",alt="sponsor img",class="spImage")
            img(src="/static/img/logo4.jpg",alt="sponsor img",class="spImage")
